@model GrpcService.DepartmentModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Department</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger",@Id= "spNameValid" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="btnSubmit" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {   
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSubmit').click(function () {
                var getValue = ($("#Name").val()).trim();
                if (getValue != "") {                       
                    return true;
                } else {                 
                    $("#spNameValid").html("Name is required.");
                    return false;
                }
            });
        });
    </script>
}